@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme */
:root[data-theme="dark"] {
  --color-btn-primary-bg: #083c91;
  --color-btn-primary-text: #ffffff;
  --color-btn-secondary-bg: #d9e3f0; /* Light, softer shade */
--color-btn-secondary-text: #083c91; /* Matches primary background */


  --color-primary: #083c91;
  --color-secondary: #a188a6;
  --color-accent: #f28c8c;
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b0b0b0;
  --color-shadow: rgba(0, 0, 0, 0.6); /* Dark shadow color */
  --color-opp-surface: #ffffff;
}

/* Light Theme */
:root[data-theme="light"] {
  --color-btn-primary-bg: #061323;
  --color-btn-primary-text: #bfbfbf;
  --color-btn-secondary-bg: #bfbfbf; /* Light, neutral shade to contrast primary */
--color-btn-secondary-text: #061323; /* Matches primary background for consistency */


  --color-primary: #061323;
  --color-secondary: #bfa8ff;
  --color-accent: #7a0a00;
  --color-background: #ffffff;
  --color-surface: #cccccc;
  --color-text-primary: #000000;
  --color-text-secondary: #3800d1;
  --color-shadow: rgba(0, 0, 0, 0.2); /* Light shadow color */
  --color-opp-surface: #1e1e1e;
}
@layer components {
  .btn-primary {
    @apply transition-colors duration-300 ease-in-out bg-btn-primary-bg text-btn-primary-text px-4 py-2 rounded-lg hover:bg-secondary hover:text-surface;
  }
}
@layer base {
  input[type="text"] {
    @apply transition-colors duration-300 ease-in-out border-primary border rounded-md p-[10px] bg-surface;
  }
  input[type="text"]:focus {
    @apply outline-none border-secondary;
  }
  input[type="text"]::placeholder {
    @apply text-text-secondary opacity-70;
  }
}
