@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme */
/* Dark Theme */
:root[data-theme="dark"] {
  --color-primary: #8ab4f8;
  --color-secondary: #a188a6;
  --color-accent: #f28c8c;
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text-primary: #ededed;
  --color-text-secondary: #b0b0b0;
  --color-shadow: rgba(0, 0, 0, 0.6); /* Dark shadow color */
  --color-opp-surface: #ffffff;
}

/* Light Theme */
:root[data-theme="light"] {
  --color-primary: #4a90e2;
  --color-secondary: #7c4dff;
  --color-accent: #ff6f61;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-text-primary: #333333;
  --color-text-secondary: #555555;
  --color-shadow: rgba(0, 0, 0, 0.2); /* Light shadow color */
  --color-opp-surface: #1e1e1e;
}

@layer base {
  button {
    @apply transition-colors duration-300 ease-in-out bg-primary text-text-primary px-4 py-2 rounded-lg hover:bg-secondary hover:text-surface;
  }
  input[type="text"] {
    @apply transition-colors duration-300 ease-in-out border-primary border rounded-md p-[10px] bg-surface;
  }
  input[type="text"]:focus {
    @apply outline-none border-secondary;
  }
  input[type="text"]::placeholder {
    @apply text-text-secondary opacity-70;
  }
}
